<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501429037952-obhv1ia0diueni9vo94rmeuf5aub29du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501429037952-obhv1ia0diueni9vo94rmeuf5aub29du</string>
	<key>API_KEY</key>
	<string>AIzaSyBg99s0UYJqlcnSZKkaOTvQHJ4oFQzZjuA</string>
	<key>GCM_SENDER_ID</key>
	<string>501429037952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jramons.examenandroid</string>
	<key>PROJECT_ID</key>
	<string>examenandroid-8a68b</string>
	<key>STORAGE_BUCKET</key>
	<string>examenandroid-8a68b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501429037952:ios:63af6e674b945c56c1af65</string>
</dict>
</plist>